%h1 Sign up
.row
  .col-lg-6.col-lg-offset-3.col-sm-8.col-sm-offset-2.col-xs-12
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = devise_error_messages!

      %fieldset
        .control-group
          = f.label :username
          %em (can only contain A-Z, a-z, 0-9, and ._- special characters)
          .control
            = f.text_field :username, autofocus: true

        .control-group
          = f.label :email
          .control
            = f.email_field :email

        .control-group
          = f.label :password
          - if @minimum_password_length
            %em (#{@minimum_password_length} characters minimum)
          .control
            = f.password_field :password, autocomplete: 'off'

        .control-group
          = f.label :password_confirmation
          .control
            = f.password_field :password_confirmation, autocomplete: 'off'
        %br
        .form-actions
          = f.submit 'Sign Up', {class: 'btn btn-success', 'data-loading-text': 'Submitting...'}
    %br
    = render 'devise/shared/links'
