= render 'layouts/header'
.row
  .col-md-2.center{style: 'position: fixed; margin-top: 10px'}
    %h4 Search
    %input.input-sm.form-control.search-box{type: 'text', style: 'margin-left: 10px; margin-right: 10px'}

    %h4 Levels
    %label.checkbox-inline
      %input.level-checkbox{type: 'checkbox', id: 'level-0', value: 0, checked: true}
        Cantrip
    %br
    - 9.times do |i|
      %label.checkbox-inline
        %input.level-checkbox{type: 'checkbox', id: "level-#{i+1}", value: i+1, checked: true}= i+1
      - if (i + 1) % 3 == 0
        %br

    %h4 Schools
    %div{style: 'text-align: left; margin-left: 40px'}
      - @schools.each do |school|
        %label.checkbox-inline
          %input.school-checkbox{type: 'checkbox', id: "school-#{school}", value: school, checked: true}= school
        %br
    %h4 Classes
    %div{style: 'text-align: left; margin-left: 20px; margin-right: 20px'}
      - @classes.each_slice(2) do |dnd_classes|
        .row
          - dnd_classes.each do |dnd_class|
            .col-md-6
              %label.checkbox-inline
                %input.class-checkbox{type: 'checkbox', id: "class-#{dnd_class}", value: dnd_class, checked: true}= dnd_class

  .col-md-9.col-md-offset-2{style: 'overflow-y: auto'}
    = render 'layouts/notice_div'
    %h1 D&D Spell List
    %table.full-table.table
      %thead
        %tr
          %th
          %th Name
          %th Level
          %th School
          %th Classes
          %th V
          %th S
          %th M
          %th Range
          %th Duration
          %th Casting Time
      %tbody
        - @spells.each do |id, spell|
          %tr.summary.summary-visible{'data-name': spell['name'], 'data-level': spell['level'], 'data-school': spell['school'], 'data-classes': spell['classes'], 'data-vsm': [spell['v'], spell['s'], spell['m']]}
            %td.expand{onselectstart: 'return false'}
              %span.glyphicon.glyphicon-resize-full
            %td= spell['name']
            %td= spell['level']
            %td= spell['school']
            %td= spell['classes'].sort.join(', ')
            %td
              %span.glyphicon{class: "glyphicon-#{spell['v'] ? 'ok' : 'remove'}"}
            %td
              %span.glyphicon{class: "glyphicon-#{spell['s'] ? 'ok' : 'remove'}"}
            %td
              %span.glyphicon{class: "glyphicon-#{spell['m'] ? 'ok' : 'remove'}"}
            %td= spell['range']
            %td= spell['duration']
            %td= spell['casting_time']
          %tr.details.details-invisible
            %td{colspan: 11}
              %table.table
                %tbody
                  %tr
                    %td Material
                    %td= spell['material']
                    %td{style: 'width: 50%'}
                      Short Description
                      %p= spell['short_description']
                  %tr
                    %td{colspan: 3}
                      %h5 Description
                      = spell['description']
    = render 'layouts/footer'
    = debug(params) if Rails.env.development?
:javascript
  $(document).ready(function() {
    $('.full-table').tablesorter({cssChildRow: 'details'})
    $('.expand').click(function() {
      var details = $(this).parent().next('.details')
      if ($(details).hasClass('details-visible')) {
        $(details).removeClass('details-visible')
        $(details).addClass('details-invisible')
        $(this).children().removeClass('glyphicon-resize-small')
        $(this).children().addClass('glyphicon-resize-full')
      } else {
        $(details).removeClass('details-invisible')
        $(details).addClass('details-visible')
        $(this).children().removeClass('glyphicon-resize-full')
        $(this).children().addClass('glyphicon-resize-small')
      }
    })
  })

