- content_for :head do
  = javascript_include_tag 'jquery.tablesorter.mod'
  = javascript_include_tag 'home/spells'
- content_for :title do
  = 'Spell Book'

.container-fluid
  .menu-toggle.btn.btn-default.btn-sm{style: 'z-index: 10; display: inline-block; position: fixed; text-align: right; margin-left: 225px; margin-top: 48px'}
    = icon('chevron-left', '', id: 'menu-toggle-icon', class: 'strong')
  .row
    .center#side-menu{style: 'position: fixed; width: 240px; height: calc(100% - 50px); overflow: auto; padding-top: 10px'}
      %h4{onselectstart: 'return false', style: ''} Search
      %input.input-sm.form-control.search-box{placeholder: 'Spell Name', type: 'text', style: 'margin-left: 20px; width: 200px'}
      .container-fluid
        .row
          .col-xs-6{style: 'padding-left: 0px; padding-right: 10px'}
            %h4{onselectstart: 'return false'}
              %span.toggle-all#toggle-level{'data-toggle-class': 'level-checkbox'}
                = icon('plus-square')
              Levels
            %div{onselectstart: 'return false'}
              %label.checkbox-inline
                %input.level-checkbox{type: 'checkbox', id: 'level-0', value: 0}Cantrip
              %br
              - 9.times do |i|
                %label.checkbox-inline
                  %input.level-checkbox{type: 'checkbox', id: "level-#{i+1}", value: i+1}= "#{i+1}"
                - if (i + 1) % 3 == 0
                  %br
                - else
                  %span
          .col-xs-6{style: 'padding-left: 10px; padding-right: 0px'}
            %h4{onselectstart: 'return false'}
              %span.toggle-all#toggle-vsmrc{'data-toggle-class': 'vsmrc-checkbox'}
                = icon('plus-square')
              V, S, M
              %br
              R, C
            .container-fluid
              .row
                .col-xs-4{style: 'padding-left: 0px; padding-right: 0px; text-align: left; margin-left: 10px', onselectstart: 'return false'}
                  %label.checkbox-inline
                    %input.vsmrc-checkbox{type: 'checkbox', id: 'vmsrc-v', value: 'v'} V
                  %br
                  %label.checkbox-inline
                    %input.vsmrc-checkbox{type: 'checkbox', id: 'vmsrc-s', value: 's'} S
                  %br
                  %label.checkbox-inline
                    %input.vsmrc-checkbox{type: 'checkbox', id: 'vmsrc-m', value: 'm'} M
                .col-xs-4{style: 'padding-left: 0px; padding-right: 0px; text-align: left; margin-left: 10px', onselectstart: 'return false'}
                  %label.checkbox-inline
                    %input.vsmrc-checkbox{type: 'checkbox', id: 'vmsrc-r', value: 'r'} R
                  %br
                  %label.checkbox-inline
                    %input.vsmrc-checkbox{type: 'checkbox', id: 'vmsrc-c', value: 'c'} C
      %br
      %h4{onselectstart: 'return false'}
        %span.toggle-all#toggle-school{'data-toggle-class': 'school-checkbox'}
          = icon('plus-square')
        Schools
      %div{style: 'text-align: left; margin-left: 10px; margin-right: 41px', onselectstart: 'return false'}
        - @schools.each_slice(2) do |schools|
          .row
            - schools.each do |school|
              .col-xs-6
                %label.checkbox-inline
                  %input.school-checkbox{type: 'checkbox', id: "school-#{school}", value: school}= school
      %br
      .container-fluid
        .row
          .col-xs-9{style: 'padding-left: 0px; padding-right: 10px'}
            %h4{onselectstart: 'return false'}
              %span.toggle-all#toggle-class{'data-toggle-class': 'class-checkbox'}
                = icon('plus-square')
              Classes
            %div{style: 'text-align: left; margin-left: 10px; margin-right: 35px', onselectstart: 'return false'}
              - @classes.each_slice(2) do |dnd_classes|
                .row
                  - dnd_classes.each do |dnd_class|
                    .col-xs-6
                      %label.checkbox-inline
                        %input.class-checkbox{type: 'checkbox', id: "class-#{dnd_class}", value: dnd_class}= dnd_class
          .col-xs-3{style: 'padding-left: 0px; padding-right: 10px'}
            %h4{style: 'padding-top: 20px', onselectstart: 'return false'}
              %span.toggle-all#toggle-ref{'data-toggle-class': 'ref-checkbox'}
                = icon('plus-square')
              Ref
            %div{onselectstart: 'return false', style: 'text-align: left'}
              %label.checkbox-inline
                %input.ref-checkbox{type: 'checkbox', id: 'ref-phb', value: 'PHB'} PHB
              %br
              %label.checkbox-inline
                %input.ref-checkbox{type: 'checkbox', id: 'ref-ee', value: 'EE'} EE

      %br
      %span.spell-count
        0 spells
    .container-fluid#main-content{style: 'height: 100%; overflow: auto; margin-left: 260px; margin-right: 20px'}
      = render 'layouts/notice_div'

      .alert.center.save-update-message#save-update-success-message{style: 'margin-top: 15px; display: none', class: bootstrap_class_for(:success)}
        %button.close{'data-hide': 'alert'} ×
        %span Successfully saved your spell list.

      .alert.center.save-update-message#save-update-fail-message{style: 'margin-top: 15px; display: none', class: bootstrap_class_for(:error)}
        %button.close{'data-hide': 'alert'} ×
        %span Failed to save your spell list.
      .row
        .col-xs-2{style: 'padding-top: 20px'}
          .btn.btn-success.save-button#save-new{style: "#{'display: none' unless @spell_code}"}= "Save#{' as new' if @spell_code}"
          %br
          .btn.btn-primary.save-button#save-update{style: "#{'display: none' unless @spell_code}"} Update
        .col-xs-8
          %h1{style: 'margin-bottom: 10px'} Spell Book
          %h2#spell-code{style: "margin-top: 0; margin-bottom: 10px; #{'display: none' unless @spell_code}"}= @spell_code || ''
        .col-xs-2{style: 'padding-top: 35px; text-align: right'}
          - if @spell_code
            = link_to 'Generate PDF', spell_code_path(@spell_code, format: 'pdf'), class: 'btn btn-info'
      %table.full-table.table{style: 'margin-top: 30px'}
        %thead
          %tr
            %th.expand-header
            %th{style: 'white-space: nowrap'}
              = icon('star', '')
              = icon('sort', '', class: 'sort-icon glyph-grey')
            - %w(Name Level School Classes V S M R C).each do |header|
              %th{style: 'white-space: nowrap'}
                = header
                = icon('sort', '', class: 'sort-icon glyph-grey')
            - ['Range', 'Duration', 'Casting Time'].each do |header|
              %th{style: 'white-space: nowrap'}
                = header
        %tbody
          - @spells.each do |id, spell|
            %tr.summary.summary-visible{'data-id': id, 'data-name': spell['name'], 'data-level': spell['level'],
            'data-school': spell['school'], 'data-classes': spell['classes'],
            'data-vsmrc': [spell['v'], spell['s'], spell['m'], spell['ritual'], spell['concentration']], 'data-ref': spell['reference'][0..-6]}
              %td.expand{onselectstart: 'return false'}
                %span.glyphicon.glyphicon-resize-full
              %td
                - if spell.has_key? 'starred'
                  %i.starable.fa.fa-star
                - else
                  %i.starable.fa.fa-star-o
              %td= spell['name']
              %td{style: 'text-align: center'}= spell['level'] == 0 ? 'Cantrip' : spell['level']
              %td= spell['school']
              %td= spell['classes'].sort.join(', ')
              %td{style: 'text-align: center'}
                %span.glyphicon{class: "glyphicon-#{spell['v'] ? 'ok' : 'remove'}"}
              %td{style: 'text-align: center'}
                %span.glyphicon{class: "glyphicon-#{spell['s'] ? 'ok' : 'remove'}"}
              %td{style: 'text-align: center'}
                %span.glyphicon{class: "glyphicon-#{spell['m'] ? 'ok' : 'remove'}"}
              %td{style: 'text-align: center'}
                %span.glyphicon{class: "glyphicon-#{spell['ritual'] ? 'ok' : 'remove'}"}
              %td{style: 'text-align: center'}
                %span.glyphicon{class: "glyphicon-#{spell['concentration'] ? 'ok' : 'remove'}"}
              %td= spell['range']
              %td= spell['duration']
              %td= spell['casting_time']
            %tr.details.details-display-none
              %td{colspan: 14}
                %table.table.details-table{style: 'background-color: #e7e7e8'}
                  %tr
                    - if spell['m']
                      %td{style: 'width: 30%'}
                        %h5 Material
                        = spell['material']
                    %td
                      %h5 Short Description
                      %p= spell['short_description']
                    %td{style: 'width: 10%'}
                      %h5 Reference
                      = spell['reference'][0..-5] + spell['reference'][-4..-1].to_i.to_s
                  %tr
                    %td{colspan: spell['m'] ? 3 : 2}
                      %h5 Description
                      = spell['description']
      = render 'layouts/footer'
      = debug(params) if Rails.env.development?
      = debug(flash) if Rails.env.development?
