- content_for :title do
  = 'Login'
%h1 Log In
.row
  .col-lg-6.col-lg-offset-3.col-sm-8.col-sm-offset-2.col-xs-12
    = bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      = f.text_field :login, autofocus: true, label: 'Login (Username or Email)'
      = f.password_field :password, autocomplete: "off"
      - if devise_mapping.rememberable?
        %br
        = f.check_box :remember_me
      = f.submit 'Log In', {class: 'btn btn-success', 'data-loading-text': 'Logging in...'}
    %br
    = render 'devise/shared/links'